extends layout

block content
   .swiper-wrapper
     .swiper-slide.slider-bg-position(style="background:url('img/1.jpg')", data-hash='slide1' )
       h2 Vida, Integración y Promoción Humana.
     .swiper-slide.slider-bg-position(style="background:url('img/3.jpg')", data-hash='slide2')
       h2 Fundación Centro Comunitario La Casita, A.C.
   //-Add Pagination
   .swiper-pagination
   //-Add Navigation
   .swiper-button-prev
     i.fa.fa-chevron-left
   .swiper-button-next
     i.fa.fa-chevron-right
