.navbar.navbar-toggleable-md.mb-4.top-bar.navbar-static-top.sps.sps--abv
   .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse1', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#')
      | Fundacion&nbsp;
      span La Casita
    #navbarCollapse1.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#myCarousel')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#Historia') Historia
        li.nav-item
          a.nav-link(href='#Acerca') Acerca de Nosotros
        li.nav-item
          a.nav-link(href='#Cursos') Cursos / Publicaciones
        li.nav-item
          a.nav-link(href='#Galeria') Galeria
        li.nav-item
          a.nav-link(href='#Contacto') Contacto

