//-
  Bootstrap core JavaScript
  ==================================================
//- Placed at the end of the document so the pages load faster
script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='js/scrollPosStyler.js')
script(src='bower_components/swiper/dist/js/swiper.min.js')
script(src='js/isotope.min.js')
script(src='bower_components/nivo-lightbox/dist/nivo-lightbox.min.js')
script(src='bower_components/wow/dist/wow.min.js')
script(src='js/core.js')
script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
script(src='https://npmcdn.com/bootstrap@4.0.0-alpha.6/dist/js/bootstrap.min.js')

//- // IE10 viewport hack for Surface/desktop Windows 8 bug
//- script(src='../../assets/js/ie10-viewport-bug-workaround.js')